<h1>About page</h1>
Il est <%= Time.now %>

<form action="/about" method="get">
  <input type="text" name="member" value="<%= params[:member]%>" placeholder="Who are you looking for?">
  <input type="submit">
</form>

<ul>
  <% @members.each do |member| %>
    <li><%= member.capitalize %></li>
  <% end %>
</ul>
